@model SurverResultModel
@{
    ViewData["Title"] = "SurveyResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>SurveyResult</h1>

@section Scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
      
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);


        function drawChart() {
            const data = JSON.parse('@Json.Serialize(Model)')

            for (let questionResult of data.questions) {

                let div = document.createElement('div');
                div.setAttribute("id", `piechart${questionResult.question.id}`);
                div.style = "width: 900px; height: 500px;"
                document.body.appendChild(div);

                let array = [['', '']]

                for (let answer of questionResult.answers) {
                    array.push([answer.option.text, answer.answerCount])
                }
                var dataList = google.visualization.arrayToDataTable(array);

                var options = {
                    title: questionResult.question.text
                };

                var chart = new google.visualization.PieChart(document.getElementById(`piechart${questionResult.question.id}`));

                chart.draw(dataList, options);

            }
        }



    </script>

}
