html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.disabled {
    pointer-events: none;
    opacity: 0.4;
}

#activeSurveys {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}
    #activeSurveys a {
        text-decoration: none;
        color: black;
        flex: 0 0 45%;
        margin: 1em 20px;
    }

.survey {
    cursor: pointer;
    transition: all .2s ease-in-out;
    border: 0px solid black;
    border-radius: 10px;
    /*box-shadow: 0 5px 50px rgba(0, 0, 0, 0.1);*/
}
.survey:hover{
    transform:scale(1.1);
}